<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Watson Personality API and D3.js</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <main>
      
    <form action="/" method="post">
      <p>
        <label>
          Text to analyze 🔬<br />
          <textarea name="text"></textarea>
        </label>
      </p>
      <p>
        <button type="submit">
          Submit
        </button>
      </p>
    </form>
      
    <script src="/client.js"></script>  

    </main>

    <footer>
      Made with <a href="https://glitch.com">Glitch</a>!
    </footer>
    
  </body>
</html>
